{% extends 'base.html' %}
{% block content %}

<h2>My Applications</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Job</th>
            <th>Company</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for app in applications %}
        <tr>
            <td>{{ app.job.job_title }}</td>
            <td>{{ app.job.company_name }}</td>
            <td>
                <span class="badge bg-info">{{ app.status }}</span>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}